<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{%block page_title %}{% endblock %}</title>
    <style>
        .success-message {
            background-color: rgba(0, 155, 0, 1);
        }
    </style>
</head>
<body>
    
    {%if messages %}
    <div class='success-message'>
        {%for m in messages %}
            <div>{{m}}</div>
        {%endfor%}
    </div>
    {% endif %}

    
    <h1>{%block page_heading %}{%endblock%}</h1>
    <p>Currently logged in as: {{ request.user.username }}</p>
    <ul>
        {%if user.is_authenticated %}
         <li><a href="{% url 'logout' %}">Logout</a></li>
         <li><a href="{% url 'profile' %}">Profile</a></li>
         {%else%}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li>Register</li>
        {%endif%}
    </ul>
    
    <div id='content'>
        {%block content %}{% endblock %}
    </div>
    
</body>
</html>